body {
    font-family: 'raleway';
    background-color: rgb(8, 0, 39);
}

h1{
    font-family: 'raleway';
    color: #e1e1e1!important;
    font-weight: 100px!important;
    font-size: 100px!important;
    transition: 1s ease-in-out;
}

h1:hover{
    text-shadow: -4px 4px #003cff, 4px -4px #ff0080;
}

h3{
    color: #e1e1e1!important;
    font-style: italic!important;
    margin-bottom: 20px!important;
}

p{
    font-family: 'raleway';
    color: rgb(8, 0, 39);
    font-size: 25px!important;
}

.button{
    background-color: #e1e1e1!important;
    border-width: 0px;
    transition: 1s ease-in-out;
}

.button:hover{
    box-shadow: 0 0em 6em 1em rgb(255 255 255 / 50%), 0 0 0 1px rgb(10 10 10 / 2%);
    
}

.title{
    text-shadow: 4px 4px #003cff, -3px -3px #ff0080;
}


.line-1{
    /* position: relative; */
    /* top: 50%;   */
    /* width: 24em; */
    margin: 0 auto;
    border-right: 2px solid rgba(255,255,255,.75);
    /* font-size: 180%; */
    /* text-align: center; */
    white-space: nowrap;
    overflow: hidden;
    /* transform: translateY(-50%);     */
}

/* Animation */
.anim-typewriter{
  animation: typewriter 1s steps(12) 1s 1 normal both,
             blinkTextCursor 600ms steps(12) infinite normal;
}
@keyframes typewriter{
  from{width: 0;}
  to{width: 6.50em;}
}
@keyframes blinkTextCursor{
  from{border-right-color: rgba(255,255,255,.75);}
  to{border-right-color: transparent;}
}
