body {
  background-color: rgb(8, 0, 39);
  font-family: 'Courier New', Courier, monospace;
}

html {
  scroll-behavior: smooth;
}

/*
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
font-family: 'Courier New', Courier, monospace; 
font-family: monospace; 
font-family: Raleway;
} */

.title {
   color: white; 
}


#bigger {
    font-size: 400%;
}

#notAsBig {
    font-size: 300%;
}

.is-1{
    transition: 1s ease-in-out;
}

.is-1:hover {
    text-shadow: -7px 7px #2300be;
}


#addSongButton, #addAlbumButton, #addArtistButton{
    font-family: 'Courier New', Courier, monospace;
}

#mainfooter{
    background-color: rgb(13, 0, 83);
    font-family: Raleway;
    color: white;
    padding-bottom: 3rem;
    transition: 1s ease-in-out;
}
#mainfooter:hover {
    letter-spacing: 1px;
}

.modal-card, .modal-content {
    margin: 0 auto;
    max-height: calc(100vh - 40px);
    width: 1200px;
}

.limit-message {
    margin-bottom: 20px!important;
    color: red;
    font-weight: bold;
}

.button {
    margin-bottom: 20px!important;
}

.songCard {
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
}

.card {
    border-radius: 4px;
    transition: 1s ease-in-out;
}
.card:hover {
  border-radius: 20px;
  box-shadow: 0 0em 4em 1em rgb(10 10 255 / 50%), 0 0 0 1px rgb(10 10 10 / 2%);
}

.songImage{
    height: 20em;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    cursor:pointer;
}

.songRanking {
    text-align: left;
    font-size: 2em;
    background-color: rgba(255, 255 , 255, 0.5);
    padding-left: 1em;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.songInfo {
    padding-bottom: 1.5em;
}

.songName{ 
    float: left;
    padding-left: 1em;
    display: flex;
}

.songArtist{
    float: right;
    padding-right: 1em;
    display: flex;
}

.playDiv {
    display: flex;
    height: 100%;
}

.playButton{
    margin: auto;
    height: 45%;
    width: auto;
}

/* CSS FOR NAVBAR */

ul {
  list-style-type: none;
  margin: 0;
  padding: 0; 
  overflow: hidden;
  font-family: Raleway;
  background-color: rgb(13, 0, 83); 
}

li {
  float: right;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: 1s ease-in-out;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: rgb(202, 202, 202);
}

/* CSS FOR SCROLL BUTTON */
#scrollbutton {
  display: inline-block;
  background-color: #FF9800;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 4px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition: background-color .3s, 
    opacity .5s, visibility .5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
}
#scrollbutton::after {
  content: "\f077";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  font-size: 2em;
  line-height: 50px;
  color: #fff;
}
#scrollbutton:hover {
  cursor: pointer;
  background-color: #333;
}
#scrollbutton:active {
  background-color: #555;
}
#scrollbutton.show {
  opacity: 1;
  visibility: visible;

/*CSS for site layout + responsiveness*/

#paddingContainer {
    padding: 0;
    display: block;
}

#mainDiv {
    display: flex;
}

#titleDiv {
    text-align: center;
    background-image: linear-gradient(to bottom, rgb(13, 0, 83) , rgb(8, 0, 39));
    width: 100%;
  /* background-color: rgb(13, 0, 83);  */
}

#contentDiv {
    text-align: center;
    margin: auto;
}