.modal-card, .modal-content {
    margin: 0 auto;
    max-height: calc(100vh - 40px);
    width: 1200px;
}

.box{

    margin: 2px 2px 2px 2px!important;
    border-radius: 0px;
}

.songCard {
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
}

.songImage{
    height: 20em;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.songRanking {
    text-align: left;
    font-size: 2em;
    background-color: rgba(255, 255 , 255, 0.5);
    padding-left: 1em;
}

.songInfo {
    padding-bottom: 1.5em;
}

.songName{ 
    float: left;
    padding-left: 1em;
    display: flex;
}

.songArtist{
    float: right;
    padding-right: 1em;
    display: flex;
}

.playDiv {
    display: flex;
    height: 100%;
}

.playButton{
    margin: auto;
    height: 45%;
    width: auto;
}
