.modal-card, .modal-content {
    margin: 0 auto;
    max-height: calc(100vh - 40px);
    width: 1200px;
}

.button{

    margin-bottom: 20px!important;

}

.limit-message {
    margin-bottom: 20px!important;
    color: red;
    font-weight: bold;
}
